/* ########## Header 영역 ##########*/
body{
  position: relative;
}
header,
footer {
  width: 100%;
  background-color: #fff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  padding: 10px 0;
}
footer {
  padding: 10px 0;
}
.header-wrapper,
.footer-wrapper {
  width: 1240px;
  margin: auto;
}
.header-wrapper {
  height: 120px;
}
.footer-wrapper {
  height: 140px;
}
main{
  margin-top: 120px;
}
/*  */
.logo-area {
  float: left;
  height: 100%;
  margin-right: 20px;
}
.logo-area img {
  margin-top: 35px;
}
nav.menu-container {
  float: left;
  width: 750px;
  height: 100%;
  margin-left: 50px;
}
ul.first-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.first-menu > li {
  position: relative;
  height: 35px;
}
ul.first-menu > li > a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  transition: 0.25s;
}
ul.first-menu > li:hover > a {
  font-weight: 700;
  color: #a2171b;
}
ul.first-menu > li:nth-of-type(6):hover > a {
  font-weight: 700;
  border-bottom: 3px solid #a2171b;
}
ul.first-menu > li:nth-of-type(7):hover > a {
  font-weight: 700;
  color: #3da935;
  border-bottom: 3px solid #3da935;
}
ul.second-menu {
  display: none;
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  background-color: #333;
  z-index: 1000;
}
ul.first-menu > li:hover ul.second-menu {
  display: block;
}
ul.second-menu > li {
  display: block;
  padding: 15px 20px;
}
ul.second-menu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
ul.second-menu > li:hover {
  background-color: #a2171b;
}
.personal-area {
  float: right;
  margin-top: 15px;
}
.personal-area a {
  font-size: 13px;
}
.personal-area a:hover {
  color: #a2171b;
}
.personal-area a:nth-last-child(2) {
  margin: 0 10px;
}
/* ########## aside tab-menu ########## */
.sub-menu {
  width: 1240px;
  margin: auto;
}
.sub-menu > div {
  width: 100%;
}
.sub-menu-title {
  text-align: center;
  margin-bottom: 60px;
  padding-top: 20px;
}
.sub-menu-title > h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
}
.sub-menu-title > p {
  font-weight: 600;
  margin-top: 10px;
}
.sub-menu-tab {
  /* border-top: 1px solid #000; */
  width: 100%;
  height: 70px;
  position: relative;
}
.sub-menu-tab > ul {
  /* 갯수에 따라 width조정 */
  width: 300px;
  height: 70px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%);
}
.sub-menu-tab > ul::after,
.sub-menu-tab > ul::before {
  content: "";
  width: 400px;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 50%;
}
.sub-menu-tab > ul::after {
  left: -400px;
}
.sub-menu-tab > ul::before {
  right: -400px;
}
.sub-menu-tab > ul > li {
  background-color: #333;
  float: left;
  /* 갯수에 따라 width조정 */
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 70px;
  border-right: 1px solid #fff;
}
.sub-menu-tab > ul > li:first-child {
  border-left: 1px solid #fff;
}
.sub-menu-tab > ul > li.now {
  background-color: #a2171b;
}
.sub-menu-tab > ul > li > a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.sub-menu-tab > ul > li > a > span {
  display: block;
  width: 100%;
  height: 50%;
  margin-top: -12px;
}
/* ########## Footer 영역 ########## */
.address {
  padding: 10px 20px;
}
.address p:first-child {
  font-size: 13px;
}
.address p:last-child {
  font-size: 11px;
  margin-top: 5px;
}
.related {
  overflow: hidden;
  padding: 10px 0;
}
.left {
  float: left;
  padding-left: 20px;
}
a.facebook {
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/images/icon-sns.png) -38px -2px no-repeat;
}
a.instagram {
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/images/icon-sns.png) -73px -2px no-repeat;
}
a.youtube {
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(/images/icon-sns.png) -110px -2px no-repeat;
  margin-left: 8px;
}
a.facebook:hover {
  background-position: -38px -32px;
}
a.instagram:hover {
  background-position: -73px -32px;
}
a.youtube:hover {
  background-position: -110px -32px;
}
.official-site a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  margin-right: 20px;
}
.official-site a:hover {
  color: #bbb;
}
.right {
  float: right;
  height: 100%;
  padding-top: 15px;
}
.right a:first-child {
  display: inline-block;
  width: 135px;
  height: 35px;
  background: url(/images/icon-app.png) no-repeat;
}
.right a:last-child {
  display: inline-block;
  width: 135px;
  height: 35px;
  background: url(/images/icon-app.png) -130px 0 no-repeat;
}
