/* ########## Sub_menu common ########## */
.sub-menu-tab > ul {
  width: 600px;
  height: 140px;
}
.sub-menu-tab > ul > li {
  width: 20%;
  height: 50%;
  border-bottom: 1px solid #fff;
}
.sub-menu-tab > ul > li:nth-of-type(6) {
  border-left: 1px solid #fff;
}
.menu-contanier {
  width: 1240px;
  margin: auto;
  margin-top: 50px;
}
.menu-head > h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin: 100px 0 40px;
}
.menu-box {
  display: flex;
}
.menu-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu-list > a {
  display: block;
  width: 50%;
  position: relative;
  overflow: hidden;
}
.menu-img {
  margin: 5px;
  position: relative;
}
.menu-img > img {
  width: 100%;
  margin-bottom: 60px;
}
.menu-img::before,
.new-only > a > .menu-img::before {
  content: "자세히 보기";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a2171b;
  color: #fff;
  padding: 10px 30px;
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
}
.menu-img::after,
.new-only > a > .menu-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(162, 23, 28, 0.2);
  opacity: 0;
  transition: 0.5s;
}
.menu-info {
  background-color: #333;
  color: #fff;
  margin: 0 5px;
  padding: 15px 20px;
  overflow: hidden;
  width: calc(100% - 10px);
  height: 170px;
  position: absolute;
  bottom: -80px;
  left: 0;
  transition: 0.3s;
}
.menu-info > h2.menu-name {
  float: left;
  width: 100%;
  font-size: 21px;
  font-weight: 600;
}
.menu-info > p.menu-price {
  float: right;
  margin: 10px 0 20px;
}
.menu-info > p.menu-des {
  float: left;
  width: 100%;
  word-break: keep-all;
  line-height: 1.3rem;
}
.menu-info > p.menu-des > em{
  display: block;
  float: right;
  margin-top: 15px;
  font-size: 12px;
}
.menu-list > a:hover > .menu-img::before,
.menu-list > a:hover > .menu-img::after,
.new-only > a:hover > .menu-img::before,
.new-only > a:hover > .menu-img::after {
  opacity: 1;
}
.menu-list > a:hover .menu-info,
.new-only > a:hover .menu-info {
  background-color: #333333;
  bottom: 0;
}
/* new page */
.new-menu {
  width: 70%;
}
.new-menu > a > .menu-info > h2.menu-name{
  font-size: 17px;
}
.new-menu > a > .menu-info > p.menu-des{
  font-size: 13px;
}
.new-only {
  width: 30%;
}
.new-only > a {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 120px;
}
.new-only > a > .menu-img {
  height: 480px;
  overflow: hidden;
}
.new-only > a > .menu-img > img {
  transform: scale(1.8) translateY(45px);
}
.new-only > a > .menu-info {
  margin: 5px;
}
.new-only > a:hover .menu-info {
  bottom: 0;
}
/* pizza */
.pizza-common-option{
  display: block;
  padding: 0 0 10px 490px;
  font-weight: 600;
}
.pizza-list > a:last-child > .menu-img {
  overflow: hidden;
}
.pizza-list > a:last-child > .menu-img > img{
  transform: scale(1.2) translateY(20px);
}