@media (max-width: 400px) {
  /* sub common */
  .sub-menu-tab > ul {
    width: 100%;
  }
  /* sub_brand */
  .brand-wrpper > section {
    width: 100%;
  }
  .contents-container01-txt {
    opacity: 1;
  }
  .contents-container01-img > img {
    width: 85%;
    opacity: 1;
  }
  .contents-container01-txt > h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0 15px;
    word-break: keep-all;
  }
  .contents-container01-txt > p {
    font-size: 12px;
    word-break: keep-all;
  }
  .contents-container02 {
    margin-top: 100px;
  }
  .contents-container02 > div > p {
    font-size: 12px;
    line-height: 1.2rem;
    text-align: left;
    margin-left: 10px;
    opacity: 1;
  }
  .contents-container04 {
    height: auto;
  }
  .contents-container04 > div {
    margin-top: 60px;
    height: 200px;
  }
  .contents-container04-txt > p {
    font-size: 9px;
    line-height: 1.1rem;
    text-align: center;
    word-break: keep-all;
    bottom: 0;
    left: 0;
  }
  .contents-container05 {
    height: 900px;
  }
  .contents-container05-img {
    height: 500px;
  }
  .contents-container05-txt {
    top: 100px;
    opacity: 1;
  }
  .contents-container05-txt > p {
    font-size: 12px;
    line-height: 1.5rem;
    word-break: keep-all;
  }
  .contents-container05-txt > p > span {
    font-size: 17px;
  }
  .contents-container06 > img {
    margin: 80px 0;
  }
  .contents-container06 > img {
    transform: scale(1.2);
  }
  /* sub_menu */
  .menu-contanier {
    width: 100%;
  }
  .menu-box {
    display: block;
  }
  .menu-list {
    display: block;
    width: 100%;
  }
  .menu-list > a {
    width: 100%;
  }
  .new-only {
    width: 100%;
  }
  .new-only > a {
    padding: 0;
  }
  .menu-info > p.menu-price {
    margin: 10px 0 20px;
  }
  .menu-info > p.menu-des {
    font-size: 13px;
  }
  .menu-info > p.menu-des > em {
    margin: 0;
    display: block;
    padding-top: 10px;
    font-size: 10px;
  }
  .pizza-common-option {
    padding: 0 10px 20px 35px;
    font-size: 10px;
    text-align: right;
    word-break: keep-all;
  }
  /* sub_store */
  .store-location-container {
    width: 100%;
  }
  .store-location-box {
    width: 100%;
  }
  .store-map > div {
    width: 100% !important;
  }
  /* sub_membership */
  .membership-contents {
    width: 100%;
  }
  .membership-contents-list {
    width: 100%;
  }
  .membership-contents-list > li {
    float: none;
    margin: 10px 0;
    width: 100%;
    height: auto;
  }
  .membership-contents-list > li:nth-of-type(3) > img {
    margin: 100px 0;
  }
  /* sub_promotion */
  .promotion-container {
    width: 100%;
  }
  .promotion-contents {
    display: block;
  }
  .winner-contents,
  .ongoing-challenge-contents {
    text-align: center;
  }
}
