.brand-wrpper > section {
  width: 1240px;
  margin: auto;
}
video {
  margin-top: 30px;
  width: 100%;
}
.contents-container01-txt {
  margin: 80px 20px 30px;
  opacity: 0;
  /* animation: up 1s 0s linear both; */
}
.contents-container01-txt > h3 {
  font-size: 30px;
  font-weight: 600;
}
.contents-container01-txt > p {
  font-size: 20px;
  margin-top: 20px;
}
.contents-container01-img {
  overflow: hidden;
}
.contents-container01-img > img {
  width: 800px;
  float: right;
  margin: 40px 0 50px;
  opacity: 0;
  /* animation: up 1s 0.8s linear both; */
}
.contents-container02 > div {
  background: url(/images/brand-02.jpg) center -130px no-repeat;
  background-size: cover;
  width: 100%;
  height: 420px;
  position: relative;
}
.contents-container02 > div > p {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 100px;
  text-align: right;
  font-size: 18px;
  opacity: 0;
  /* animation: up 0.7s 0s linear both; */
}
.contents-container03 > div > img {
  margin-top: 50px;
  width: 100%;
}
.contents-container04 {
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.contents-container04 > div {
  margin-top: 120px;
  height: 420px;
}
.contents-container04-img {
  float: left;
  width: 60%;
}
.contents-container04-img > video {
  width: 100%;
  height: 100%;
}
.contents-container04-txt {
  float: right;
  width: 40%;
  position: relative;
}
.contents-container04-txt > p {
  position: absolute;
  bottom: 0px;
  left: -10px;
  width: 100%;
  font-size: 18px;
  word-break: keep-all;
  text-align: center;
}
.contents-container05 {
  height: 1500px;
  position: relative;
}
.contents-container05-img {
  width: 100%;
  background: url(/images/brand06.jpg) center 0 no-repeat;
  background-size: cover;
  height: 900px;
  position: absolute;
  bottom: 0;
}
.contents-container05-txt {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  padding: 10px;
  opacity: 0;
  /* animation: fadeIn 1s 0s linear both; */
}
.contents-container05-txt > p {
  margin: 20px 0;
  font-size: 23px;
  font-weight: 500;
}
.contents-container05-txt > p > span {
  text-transform: uppercase;
  color: #a2171b;
  font-weight: 700;
  font-size: 30px;
}
.contents-container06 {
  text-align: center;
}
.contents-container06 > img {
  margin: 100px 0 80px;
  transform: scale(1.5);
}
/* animation */
@keyframes up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
