@media (max-width: 400px) {
  main > section {
    width: 100%;
  }
  .sub-menu-tab > ul {
    width: 100%;
  }
  .promotion-contents {
    display: block;
  }
  .winner-contents,.ongoing-challenge-contents{
    text-align: center;
  }
}
