/* ########## Sub_promotion common ########## */
main > section {
  width: 1240px;
  margin: auto;
}
.sub-menu-tab > ul {
  width: 400px;
}
.sub-menu-tab > ul > li {
  width: 25%;
}
/* ########## event.html ########## */
.promotion-wrap {
  width: 100%;
  margin: 10px 0 20px;
}
.past-event-wrap {
  margin-top: 120px;
}
.promotion-head h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0 20px 10px;
}
.promotion-contents {
  display: flex;
  flex-wrap: wrap;
}
.promotion-contents > a {
  width: 33.333%;
  padding: 10px;
}
.ongoing-event-contents > a > .promotion-image {
  height: 214px;
}
.past-event-contents > a > .promotion-image {
  height: 275px;
}
.promotion-image {
  position: relative;
}
.promotion-image::after {
  content: "자세히 보기";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  background-color: #a2171b;
  color: #fff;
  opacity: 0;
  transition: 0.25s;
}
.past-event-contents > a >.promotion-image::after{
  background-color: #333;
}
.promotion-image:hover::after {
  opacity: 1;
}
.promotion-image > img {
  width: 100%;
  height: 100%;
}
.promotion-image:hover > img {
  filter: blur(6px);
}
.promotion-cap {
  overflow: hidden;
  margin-top: 8px;
  padding: 20px;
  background-color: #eee;
}
.promotion-cap > h3 {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
}
.promotion-cap > p {
  float: right;
  margin: 10px 10px 0 10px;
  font-size: 12px;
}
.more-btn {
  text-align: center;
  margin: 50px 0;
}
.more-btn > button {
  width: 300px;
  height: 50px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.more-btn > button:hover {
  background-color: #a2171b;
  box-shadow: 0 1px 3px #7a2326;
  border-radius: 30px;
}
/* winner.html */
.winner-contents {
  justify-content: center;
  margin: 80px 0;
  color: #888;
}
/* ########## voucher.html ########## */
.voucher01-cap {
  height: 130px;
}
.voucher02-wrap {
  margin-top: 100px;
}
.voucher02-head > h2 {
  margin-bottom: 0;
}
.voucher02-contents > a {
  width: 25%;
  padding-top: 0;
}
.voucher02-contents > a > .voucher02-image {
  height: 200px;
}
.voucher01-cap > p {
  float: left;
}
.voucher01-cap > p > span,
.voucher02-cap > p > span {
  display: block;
}
/* ########## challenge.html ########## */
.ongoing-challenge-contents {
  justify-content: center;
  margin: 80px 0;
  color: #888;
}
.past-challenge-wrap {
  margin-top: 100px;
}
.past-challenge-contents > a >.promotion-image::after{
  background-color: #333;
}